<ion-view title="城市列表">
    <ion-content on-swipe-right="goHome()">
        <ion-list>
            <ion-item class="item item-toggle" ng-repeat="city in citys">
                {{city.name}}
                <label class="toggle toggle-assertive">
                    <input type="checkbox" ng-model="city.on">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>